* {
  font-family: 'Libre Caslon Text', serif;
}

body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: #A3D9FF;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.hidden {
  display: none;
}

.nav-style {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.filter-style {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #042A2B;
  padding: 20px;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

nav {
  position: relative;
  padding-bottom: 12px;
  margin: auto
}




.active a span {
  bottom: 0;
  right: 0%;
  width: 20%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #96E6B3);
  animation: btn-anim5 4s linear infinite;
  animation-delay: 0s
}
.active a span {
  position: absolute;
  display: block;
}
@keyframes btn-anim5 {
  0% {
    right: 0%;
    width: 0%
  }
  10% {
    right: 20%;
    width: 20%
  }
  20% {
    right: 40%;
    width: 40%
  }
  30% {
    right: 60%;
    width: 40%
  }
  40%{
    right: 80%;
    width: 20%
  }
  50%{
    right: 100%;
    width: 0%;
  }
  60%{
    right: 80%;
    width: 20%
  }
  70%{
    right: 60%;
    width: 40%
  }
  80%{
    right: 40%;
    width: 40%
  }
  90%{
    right: 20%;
    width: 20%
  }
  100% {
    right: 0%;
    width: 0%
  }
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}


nav ul li {
  margin: 0 40px 0 0;
  opacity: 0.4;
  transition: all 0.4s ease;
}

nav ul li:hover {
  opacity: 0.7
}

nav ul li.active {
  opacity: 1;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #ffff;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 14px;
}

h1 {
  text-align: center;
  color: white;
  font-size:  50px
}

#greeting {
  color: white;
  margin: auto;
  text-align: center;
  font-style: italic;
  overflow: hidden; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 6s steps(40, end),
    blink-caret 1s step-end;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


.top {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #042A2B;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  margin-bottom: 50px;
}

#bookings {
  margin: auto;
  margin-top: 50px;
  width: 1000px;
  padding: 20px;
  color: white;
  background-color: #042A2B;
  text-align: center;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

span.name {
  color:#96E6B3;
}

.main-page {
  height: 100%;
  width: 100%;
}

article {
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  margin: 20px;
  padding: 10px;
  background-color: #042A2B;
  color: white;
  width: 800px;
  font-size: 20px;
  align-items: center;
}

#spending {
  padding: 20px;
  margin: auto;
  text-align: center;
  height: 150px;
  width: 1000px;
  color: #96E6B3
}

#my-bookings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  padding-bottom: 90px;
  max-height: 1000px;
  overflow-y: auto;
  background-color: #042A2B;
}

#available-bookings {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
  height: 400px; 
  overflow-y: auto;
  width: 1500px;
  background-color: #042A2B;
  padding-bottom: 90px;
  margin-bottom: 50px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-error, .calendar-error {
  width: 90%;
  margin: auto;
  background: #da3e52;
  color: #fff;
  text-align: center;
  padding: 5px;
  font-size: 18px;
  font-style: italic;
}

.bookings-card {
  padding: 10px;
  background-color: #042A2B;
  border: 5px #96E6B3 solid;
  width: 800px;
  height: 600px;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #042A2B;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #96E6B3;
  font-size: 12px;
}


.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #96E6B3;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #96E6B3;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #96E6B3,
              0 0 25px #96E6B3,
              0 0 50px #96E6B3,
              0 0 100px #96E6B3;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #96E6B3);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}



.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #96E6B3);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #96E6B3);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #96E6B3);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.book-now {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  height: 50vh; 
}


.calendar {
  margin: 10px;
  border-radius: 10px;
  width: 250px;
  height: 10px;
  text-align: center;
  align-content: center;
  padding: 20px;
  font-size: 20px;
  margin-top: 50px;
}

#submit-button, button {
  padding: 10px 20px;
  color: #96E6B3;
  border: none;
  cursor: pointer;
}

#submit-button:hover, button:hover {
  color: white
}

.calendar-form a:hover, button:hover {
  background: #96E6B3;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #96E6B3,
              0 0 25px #96E6B3,
              0 0 50px #96E6B3,
              0 0 100px #96E6B3;
}

.calendar-form a span {
  position: absolute;
  display: block;
}

.calendar-form {
  padding: 50px;
}

.calendar-form a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #96E6B3);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}



.calendar-form a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #96E6B3);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.calendar-form a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #96E6B3);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.calendar-form a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #96E6B3);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
.calendar-form form{
  background-color: #042A2B;
  height: 250px;
  width: 500px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.calendar-form form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #96E6B3;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

#available-card {

  width: 500px;
  padding: 20px;
  height: 150px;
  margin: 20px;
  font-size: 25px;
}

#calendar-box {
  padding: 10px
}

button {
  margin: auto;
  height: 40px;
  width: 500px;
  margin-top: 20px;
  background-color: #042A2B;
  font-size: 20px;
  padding: 10px
}